.services-body{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}


.services-title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.services-title{
    font-family: var(--font-main);
}


.services-body-container{
    width: auto;
    /* flex: 1; */
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

@media  screen and (max-width:2000px) {
    .services-body{
        padding: 2rem 8rem;
    }
    .services-title-container{
        margin: 5rem 0;
    }
    .services-title{
        font-size: 45px;
    }
}



@media screen and (max-width : 1366px) {
    .services-body{
        padding: 2rem 10rem;
    }
    .services-title-container{
        margin: 2rem 0;
    }
    .services-title{
        font-size: 30px;
    }
}



@media  screen and (max-width:950px) {
    .services-body{
        padding: 1rem 3rem;
    }
}