.service-card{
    min-width: 250px;
    height: 70vh;
    background-color: #181818;
    border-radius: 27px;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 15px 1em;
    
}

.service-card p,h3{
    text-align: center;
    color: white;
    font-family: var(--font-main);
    line-height: 20px;
}

.service-card-image-wrapper{
    width: auto;
    height: 200px;
    padding: 10px;
}

.read-more-button{
    width: 100%;
    height: 40px;
    background-color: #005AF1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.service-card-image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* @media  screen and (max-width:2000px) {
    .service-card{
        width: 250px;
    }
    .service-card p{
        font-size: 20px;
    }
    .service-card p{
        margin: 15px 0;
        font-size: 15px;
    }
}



@media screen and (max-width : 1366px) {
    .service-card{
        width: 500px;
        height: 90%;
        border-radius: 20px;
    }
    .service-card p{
        font-size: 12px;
    }
    
}



@media  screen and (max-width:950px) {
    .service-card{
        max-width: 250px;
        border-radius: 15px;
    }
    .service-card p{
        font-size: 12px;
    }
    
} */