.who-we-are-body{
    width: 100%;
    height: auto;
    padding: 2rem 6rem;
    display: flex;
    flex-direction: column;
}

.title-container{
    width: 100%;
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.title-container h1{
    font-family: var(--font-main);
}
.center{
    width: 100%;
    flex:3.1;
    display: flex;
}
.bottom{
    width: 100%;
    flex:3;
    display: flex;
}

.description-container{
    flex: 1.4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.description-container p{
    font-family: var(--font-main);
}

.image-container-hw{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container-hw-sm{
    display: none;
}

.who-we-are-image{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.vission-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.vission-section h2{
    font-family: var(--font-main);
}

.vission-section p{
    text-align: center;
    font-family: var(--font-main);
    font-size: 12px;
}

.who-we-are-image-wrapper{
    width: 75%;
    height: 90%;
}

.small-screen-bottom-who-are-we-image-wrapper{
    display: none;
}

@media  screen and (max-width:2000px) {
    .who-we-are-body{
        padding: 2rem 16rem;
    }
   .title-container h1{
        font-size: 50px;
   }
   .description-container p{
       font-size: 18px;
   }
   .vission-section h2{
       font-size: 26px;
       margin: 0;
   }
   .vission-section p{
       font-size: 16px;
   }
}



@media screen and (max-width : 1366px) {
    .who-we-are-body{
        padding: 2rem 10rem;
    }
    .title-container h1{
        font-size: 30px;
   }
   .description-container p{
       font-size: 16px;
   }
   .vission-section h2{
       font-size: 15px;
       margin: 0;
   }
   .vission-section p{
       font-size: 14px;
   }
}



@media  screen and (max-width:950px) {
    .who-we-are-body{
        padding: 1rem 3rem;
    }
    .title-container h1{
        font-size: 24px;
    }
    .description-container p{
        text-align: center;
        font-size: 12px;
    }
    .image-container-hw{
        display: none;
    }
    .bottom{
        flex-direction: column;
    }
    .vission-section{
        margin: 5px 0;
    }
    .vission-section h2{
        font-size: 14px;
        margin: 8px 0;
    }
    .small-image-wrapper{
        width: 45px;
        height: 45px;
    }
    .small-image-wrapper img{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    .small-screen-bottom-who-are-we-image-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex: 1;
    }
    .small-screen-bottom-who-are-we-image-wrapper img{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    .image-container-hw-sm{
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}