.blog-card{
    margin: 1rem 2rem;
    flex: 1;
    position: relative;
    border-radius: 16px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
}

.gradient-color-container{
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(179.95deg, rgba(0, 193, 255, 0) 0.04%, #1637D3 99.96%);
    border-radius: 16px;
}

.blog-card-data-container{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.blog-card-spacer{
    flex: 1;
}

.blog-card-data-container h3{
    color: white;
    text-align: start;
    padding: 8px;
}


.blog-card-data-container p{
    color: white;
    font-family: var(--font-main);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin: 8px 0;
    padding: 8px;
}

.blog-card-read-more-button-container{
    display: flex;
    width: 100%;
}

.blog-card-read-more-button{
    cursor: pointer;
    background-color: #00AEEF;
    padding: 0 5px;
    border-radius: 16px 0px 16px 0px;
}


@media screen and (max-width:2000px){
    .blog-card{
        height: 100%;
    }
}


@media screen and (max-width:1366px){
    .blog-card{
        height: 75%;
    }
}



@media screen and (max-width:950px) {
    .blog-card{
        margin: 1rem 2rem;
        width: 100%;
    }
}