.navbar-container{
    width: 100%;
    height: 70px;
    display: flex;
    align-items:center;
    padding-left: 10rem;
    padding-right: 3rem;
    justify-content: space-between;
    
}

.logo-container{
    /* width: 170px; */
    flex: 1;
    height: 23px;
    overflow-y: hidden;
}

.logo{
    width: auto;
    height: 2vh;
    object-fit: contain;
    cursor: pointer;
}

/* .spacer{
    flex: 1;
    height: 100%;
} */

.link-container{
    display: flex;
    height: 100%;
    flex-direction: row;
    flex: 3;
    justify-content: space-between;
    /* margin-left: 250px; */
}

.link-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    list-style: none;
}

.nav-link h2,h3{
    font-family: var(--font-main);
    font-size: 18px;
    cursor: pointer;
}

.get-touch-button{
    background-color: #1CB5E0;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 0px #caf4ff;
    /* margin-left:125px; */
}

.small-screen-link-container{
    display: none;
}

.get-touch-button h3{
    color: white;
    font-size: 14px;
}

.icon{
    cursor: pointer;
}

.change-theme-icon-container{
    cursor: pointer;
}

@media  screen and (max-width:2000px) {
    /* .link-container{
        margin-left: 600px;
    } */
    .logo-container{
        width: 220px;
        height: auto;
    }
    .menu-icon{
        display: none;
    }
    .spacer{
        display: none;
    }
}



@media screen and (max-width : 1366px) {
    /* .link-container{
        margin-left: 250px;
    } */
    .logo-container{
        width: 175px;
        height: auto;
    }
    .menu-icon{
        display: none;
    }
    .spacer{
        display: none;
    }
}



@media  screen and (max-width:650px) {
    .navbar-container{
        padding: 0 2rem;
        align-items: center;
        display: flex;
    }
    .menu-icon{
        display: flex;
    }
    .spacer{
        display: flex;
        flex: 1;
    }

    .link-container{
        display: none;
    }
}